.big {
  font-size: 3rem;
  padding: 50px;
}

.canvas {
  border: 1px solid black;
}

.valueSelect label { 
  padding-right: 0.3em;
}

.valueSelect select { 
  min-width: 120px;
}

.bigButton {
  border: 1px solid black;
  padding: 0.5em 1em;
}

.twoBoxSplit {
  display: flex;
  justify-content: space-around;
  width: 600px;
  margin: 5em auto;
  padding: 1em;
  background-color: #fff;
  border-radius: 1em;
}

.twoBoxSplit > div {
  padding: 0.5em;
  margin: 0.5em;
}

@media (max-width: 700px) {
  .twoBoxSplit, .twoBoxSplit div {
    width: auto;
    margin: 0 auto;
    border-radius: 0;
    padding: 1em;
  }
}